In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv(r"C:\Users\veenu\Datasets\baseball.csv")
df

,W,R,AB,H,2B,3B,HR,BB,SO,SB,RA,ER,ERA,CG,SHO,SV,E
0,95,724,5575,1497,300,42,139,383,973,104,641,601,3.73,2,8,56,88
1,83,696,5467,1349,277,44,156,439,1264,70,700,653,4.07,2,12,45,86
2,81,669,5439,1395,303,29,141,533,1157,86,640,584,3.67,11,10,38,79
3,76,622,5533,1381,260,27,136,404,1231,68,701,643,3.98,7,9,37,101
4,74,689,5605,1515,289,49,151,455,1259,83,803,746,4.64,7,12,35,86
5,93,891,5509,1480,308,17,232,570,1151,88,670,609,3.80,7,10,34,88
6,87,764,5567,1397,272,19,212,554,1227,63,698,652,4.03,3,4,48,93
7,81,713,5485,1370,246,20,217,418,1331,44,693,646,4.05,0,10,43,77
8,80,644,5485,1383,278,32,167,436,1310,87,642,604,3.74,1,12,60,95
9,78,748,5640,1495,294,33,161,478,1148,71,753,694,4.31,3,10,40,97
10,88,751,5511,1419,279,32,172,503,1233,101,733,680,4.24,5,9,45,119
11,86,729,5459,1363,278,26,230,486,1392,121,618,572,3.57,5,13,39,85
12,85,661,5417,1331,243,21,176,435,1150,52,675,630,3.94,2,12,46,93
13,76,656,5544,1379,262,22,198,478,1336,69,726,677,4.16,6,12,45,94
14,68,694,5600,1405,277,46,146,475,1119,78,729,664,4.14,5,15,28,126
15,100,647,5484,1386,288,39,137,506,1267,69,525,478,2.94,1,15,62,96
16,98,697,5631,1462,292,27,140,461,1322,98,596,532,3.21,0,13,54,122
17,97,689,5491,1341,272,30,171,567,1518,95,608,546,3.36,6,21,48,111
18,68,655,5480,1378,274,34,145,412,1299,84,737,682,4.28,1,7,40,116
19,64,640,5571,1382,257,27,167,496,1255,134,754,700,4.33,2,8,35,90
20,90,683,5527,1351,295,17,177,488,1290,51,613,557,3.43,1,14,50,88
21,83,703,5428,1363,265,13,177,539,1344,57,635,577,3.62,4,13,41,90
22,71,613,5463,1420,236,40,120,375,1150,112,678,638,4.02,0,12,35,77
23,67,573,5420,1361,251,18,100,471,1107,69,760,698,4.41,3,10,44,90
24,63,626,5529,1374,272,37,130,387,1274,88,809,749,4.69,1,7,35,117
25,92,667,5385,1346,263,26,187,563,1258,59,595,553,3.44,6,21,47,75
26,84,696,5565,1486,288,39,136,457,1159,93,627,597,3.72,7,18,41,78
27,79,720,5649,1494,289,48,154,490,1312,132,713,659,4.04,1,12,44,86
28,74,650,5457,1324,260,36,148,426,1327,82,731,655,4.09,1,6,41,92
29,68,737,5572,1479,274,49,186,388,1283,97,844,799,5.04,4,4,36,95

# Explotary Data Analysis

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       30 non-null     int64
 1   R       30 non-null     int64
 2   AB      30 non-null     int64
 3   H       30 non-null     int64
 4   2B      30 non-null     int64
 5   3B      30 non-null     int64
 6   HR      30 non-null     int64
 7   BB      30 non-null     int64
 8   SO      30 non-null     int64
 9   SB      30 non-null     int64
 10  RA      30 non-null     int64
 11  ER      30 non-null     int64
 12  ERA     30 non-null     float64
 13  CG      30 non-null     int64
 14  SHO     30 non-null     int64
 15  SV      30 non-null     int64
 16  E       30 non-null     int64
dtypes: float64(1), int64(16)
memory usage: 4.1 KB

In [4]:
df.shape

(30, 17)

In [5]:
df.columns

Index(['W', 'R', 'AB', 'H', '2B', '3B', 'HR', 'BB', 'SO', 'SB', 'RA', 'ER',
       'ERA', 'CG', 'SHO', 'SV', 'E'],
      dtype='object')

17 columns are present in dataset

In [6]:
df.dtypes

W        int64
R        int64
AB       int64
H        int64
2B       int64
3B       int64
HR       int64
BB       int64
SO       int64
SB       int64
RA       int64
ER       int64
ERA    float64
CG       int64
SHO      int64
SV       int64
E        int64
dtype: object

In this dataset deos not have any obejcts

In [7]:
df.isnull().sum()

W      0
R      0
AB     0
H      0
2B     0
3B     0
HR     0
BB     0
SO     0
SB     0
RA     0
ER     0
ERA    0
CG     0
SHO    0
SV     0
E      0
dtype: int64

In [8]:
No null values present in dataset

SyntaxError: invalid syntax (<ipython-input-8-a3c94102c6ca>, line 1)

In [ ]:
len(df['W'].value_counts())

Target variable is continuos,So the problem is besed on Regression models.

In [ ]:
sns.heatmap(df.isnull())

Data Visualization of null values

In [ ]:
df.describe()

In [ ]:
plt.figure(figsize=(30,10))
sns.heatmap(df.corr(),annot=True)

In correlation visualization,['R','AB','CG','E'] this are not highly correlated

In [ ]:
df.plot(kind='box',subplots=True,layout=(3,7))

In [ ]:
df.iloc[:,:8].boxplot(figsize=(22,10))

In [ ]:
df.iloc[:,9:17].boxplot(figsize=(22,10))

In [ ]:
df.skew()

Skewness is present in some columns

In [ ]:
# sns.pairplot(df)

In [ ]:
columns=['R', 'AB', 'H', '2B', '3B', 'HR', 'BB', 'SO', 'SB', 'RA', 'ER',
       'ERA', 'CG', 'SHO', 'SV', 'E']
for i in columns:
    if df[i].skew()>0.5 or df[i].skew()< -0.5:
        print(i,df[i].skew())
        sns.distplot(df[i])
        plt.show()

In [ ]:
columns=['W','R', 'AB', 'H', '2B', '3B', 'HR', 'BB', 'SO', 'SB', 'RA', 'ER',
       'ERA', 'CG', 'SHO', 'SV', 'E']
for i in columns:
    print(i,len(df[i].value_counts()))
    sns.countplot(df[i])
    plt.show()

# Data Cleaning

In [ ]:
df.drop(['AB','H','CG','E'],axis=1,inplace=True)

Dropping 4 columns due to less correlation

In [ ]:
df

In [ ]:
df.skew()

In [ ]:
from sklearn.preprocessing import PowerTransformer
pt=PowerTransformer()
df['R']=pt.fit_transform(pd.DataFrame(df['R']))
df['HR']=pt.fit_transform(pd.DataFrame(df['HR']))
df['SHO']=pt.fit_transform(pd.DataFrame(df['SHO']))
df['SV']=pt.fit_transform(pd.DataFrame(df['SV']))
# df['AB']=pt.fit_transform(pd.DataFrame(df['AB']))
# df['H']=pt.fit_transform(pd.DataFrame(df['H']))
# df['CG']=pt.fit_transform(pd.DataFrame(df['CG']))
# df['E']=pt.fit_transform(pd.DataFrame(df['E']))

I applied Power Transformer for removing skewness

In [ ]:
df.skew()

In [ ]:
df.columns

In [ ]:
columns=['R', '2B', '3B', 'HR', 'BB', 'SO', 'SB', 'RA', 'ER', 'ERA', 'SHO',
       'SV']
for i in columns:
    sns.distplot(df[i])
    plt.show()

In [ ]:
X=df.drop('W',axis=1)

In [ ]:
from sklearn.preprocessing import StandardScaler
sd=StandardScaler()
x=sd.fit_transform(X)
x=pd.DataFrame(x,columns=X.columns)
x

Im Using Standard Scaler b'coz the data is not in proper range, i need to set proper range

In [ ]:
y=df['W']

# Model Generation

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.linear_model import LinearRegression
l=LinearRegression()
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

best_state=0
accu=0
for i in range(1,200):
    x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.30, 
                                                    random_state=i)
    l = LinearRegression()
    l.fit(x_train,y_train)
    predictions = l.predict(x_test)
    accuracy=r2_score(y_test,predictions)
    if accuracy>accu:
        accu=accuracy
        best_state=i
print(f"Final accuracy is{accu} and best random state is {best_state}")

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.30,random_state=48)

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
para={'criterion':['mse','mae'],'max_features':['auto','sqrt','log2']}
rf=RandomForestRegressor()
clf=GridSearchCV(rf,para)
clf.fit(x_train,y_train)
print(clf.best_params_)

In [ ]:
rf=RandomForestRegressor(criterion='mae',max_features='log2')
rf.fit(x_train,y_train)
rf.score(x_train,y_train)
pred=rf.predict(x_test)
rfs=r2_score(y_test,pred) 
print("R2 Score",rfs)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
d=DecisionTreeRegressor(criterion={"mse", "friedman_mse", "mae"},splitter={"best","random"})
para={'criterion':["mse", "friedman_mse", "mae"],'splitter':["best","random"]}
d=DecisionTreeRegressor()
cl=GridSearchCV(d,para)
cl.fit(x_train,y_train)
print(cl.best_params_)

In [ ]:
d=DecisionTreeRegressor(criterion='mse',splitter='random')
d.fit(x_train,y_train)
pred=d.predict(x_test)
dt=r2_score(y_test,pred)
print(dt)

Lasso Ridge Regression

In [ ]:
from sklearn.linear_model import Lasso,Ridge

In [ ]:

ls=Lasso(alpha=0.0001)
#ls=Lasso(aplha=1.0 )#Default
ls.fit(x_train,y_train)
ls.score(x_train,y_train)

In [ ]:
ls.coef_

In [ ]:
rd=Ridge(alpha=0.0001)
#rd=Ridge()
rd.fit(x_train,y_train)
rd.score(x_train,y_train)

In [ ]:
from sklearn.linear_model import ElasticNet
enr=ElasticNet(alpha=0.0001)
#enr=ElascticNet()
enr.fit(x_train,y_train)
enrpred=enr.predict(x_test)
print(enr.score(x_train,y_train))
enr.coef_

# Cross Validation

In [ ]:
from sklearn.model_selection import cross_val_score
svcscores=cross_val_score(l,x,y,cv=5)
print(svcscores.mean())

In [ ]:
from sklearn.model_selection import cross_val_score
svcscores=cross_val_score(ls,x,y,cv=5)
print(svcscores.mean())

In [ ]:
from sklearn.model_selection import cross_val_score
svcscores=cross_val_score(rf,x,y,cv=5)
print(svcscores.mean())

Saving the best model

In [ ]:
l=LinearRegression()
l.fit(x_train,y_train)

Conclusion : From all model best model is LinearRegression with 87.15 % accuracy

In [ ]:
import pickle
file_name='baseball.pkl'
pickle.dump(l,open(file_name,'wb'))